--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers==4.46.3
joblib==1.4.2
xgboost==2.1.2
textblob==0.18.0.post0
sentence-transformers==3.3.1
scikit-learn==1.5.2
accelerate==0.26.0
